body, html {
    color: #333;
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}


.profile-container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .edit-button{
    background-color: #ff5c5c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .profile-header {
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
  }
  
  .profile-header h1 {
    margin: 0;
    font-size: 2em;
    color: #333;
  }
  
  .profile-header p {
    margin: 5px 0;
    color: #666;
  }
  
  .profile-section {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .profile-section:last-of-type {
    border-bottom: none;
  }
  
  .profile-section h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .profile-section ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #555;
  }
  
  .profile-section p {
    color: #555;
  }
  