

/* WelcomePage.css */


body, html {
    font-family: Arial, sans-serif;
    color: white;
    overflow-x: hidden;/* Prevent horizontal scrolling */
    
    background: linear-gradient(to bottom, #007BFF 0%, #8ecae6 100%);
}


/* Container for the entire page */


/* Navigation bar */

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.nav-link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
    margin-left: 80px;
}

.nav-auth{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
    margin-left: 80px;
}

.nav-auth::after{
    background-color: #007BFF;
}





/* Title and subtitle */
.welcome-title {
    color: white;
}





